<a routerLink="/home"><i class="fa fa-caret-square-o-left"></i> Back to Home</a>

<div class="container mt-5">
  <div *ngIf="!isLoading">
    <div>
      <span class=title>Name: </span>{{ selected.name }}
      <img [src]="selected.art_url" alt="">
    </div>
    <br>
    <div>
      <span class=title>Description: </span>{{ selected.description }}
    </div>
    <br>
    <div>
        <span class=title>Types: </span><p *ngFor="let type of selected.types"> {{ type }} </p>
    </div>
    <br>
    <div *ngIf="hasEvolutions">
      <div *ngFor="let evolution of evolutions; let i = index">
        <div>
            <span class=title>Evolution: </span> {{ i+1 }}:
        </div>
        <br>
        <div>
          Name: {{ evolution.name }}
        </div>
        <br>
        <img [src]="evolution.art_url">
        <br>
        <div *ngIf="evolution.level">
          Level to for the Evolution: {{ evolution.level }}
        </div>
        <br>
        <div>
          Method for the Evolution: {{ evolution.method }}
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
