<div *ngIf="!isLoading">
  <div>
    Name: {{ selected.name }}
  </div>
  <br>
  <div>
    Description: {{ selected.description }}
  </div>
  <br>
  <div>
    Types: <p *ngFor="let type of selected.types"> {{ type }} </p>
  </div>
  <br>
  <div *ngIf="hasEvolutions">
    <div *ngFor="let evolution of selected.evolutions; let i = index">
      <div>
        Evolution {{ i }}:
      </div>
      <br>
      <div>
        Name: {{ evolutions[i].name }}
      </div>
      <br>
      <img [src]="evolutions[i].art_url">
      <br>
      <div>
        Level to for the Evolution: {{ evolution.level }}
      </div>
      <br>
      <div>
        Method for the Evolution: {{ evolution.method }}
      </div>
      <br>
    </div>
  </div>
</div>