.title {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(200, 200, 200);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000000;
}

img {
  width: 150px;
}

.imagen {
  margin-bottom: 0 !important;
}

.card {
  box-shadow: 2px 2px 10px #000000;
  padding: 15px;
  color: white;
}

hr {
  border-color: white;
}

.display-4 {
  text-shadow: 2px 2px 2px #000000;
}

.evol {
  background: #6b6262;
  margin-bottom: 20px;
}

* {
  font-family: 'Ubuntu', sans-serif;
}